*{
    box-sizing: border-box;
}
body{
    margin:0;
    color:white;
    padding:0;
    font-family:'Montserrat', sans-serif;
    background-color: #C62368;
    overflow-x:hidden;
}
main{
    margin-left: 10rem;
    width:100%;
}
.navbar{
    display: flex;
    flex-direction: column;
    width:10rem;
    height: 100vh;
    position:fixed;
    background-color: white;
    z-index: 1;
    transition: width 200ms ease;
}
.navbar ul{
    list-style: none;
    padding:0;
    display:flex;
    margin:0;
    flex-direction: column;
    align-items: center;
}
.navbar li{
    width:100%;
}
.navbar a{
    display: flex;
    align-items: center;
    height:10rem;
    color: #004CBB;
    font-weight: bold;
    text-decoration: none;
}
.navbar span{
    display:none;
    margin-left: 2rem;
    margin-right:2rem; 
}
.navbar svg{
    min-width: 2rem;
    margin: 0 1.5rem;
}
.navbar:hover{
    width:16rem;
}
.navbar:hover span{
    display:block;
}

.navbar a:hover{
background-color: #a4c9da;    
border-radius:5%;
}

h1{   
font-family: 'Urbanist', sans-serif;
font-weight: bold;

}
section{
    position: relative;
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 20vw;
    margin:0 auto;
    justify-content: flex-start;
    justify-items: flex-start;
}  
.bottom{
    background-color: #C62368;
    
}
.middle{
    background-color: #C62368;
    
    aspect-ratio: 2/1; 
}
.top{
    aspect-ratio: 2/1; 
    background-color: #004CBB;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(resources/layered-waves-haikei.svg);
    display:flex;
}
.banner{
    flex-wrap: wrap;
    font-size: 4rem;
    text-align:center;
}
.intro {
    font-size: 1.5rem ;
    text-align: center;
    margin-top:-5px;
    flex-wrap: wrap;
}
.contact, .portfolio{
    font-size: 2rem ;
    text-align: center;
}
input{
    margin-bottom:10px;
    min-width:300px;
}
form #submit{
    font-family:'Montserrat', sans-serif ;
    font-weight:bold;
    padding:5px;
}
form #text{
    font-family:'Montserrat', sans-serif ;
    font-weight:bold;
    padding:5px;
}
footer{
    text-align: left;
}
/* medium*/
@media only screen and (max-width:800px){
  .navbar{
      bottom:0;
      width:100%;
      height:10rem;
      
  }  
  .navbar ul{
      flex-direction: row;

  }
  .navbar a:hover{
    width:90%;
    }
  .navbar a{
      justify-content: center;
      width:70%;
  }
  .top{
      bottom:100px;
  }
  .intro{
      display:none;
  }
  .navbar:hover {
    width:100%;
  }
  main{
      margin:0;
    }
   
}
/* small */

@media only screen and(max-width:400px){
.navbar{
    bottom:0;
    width:100%;
    height:10rem;
    
}  
.navbar ul{
    flex-direction: row;

}
.navbar a{
    justify-content: center;
    width:90%;
}
.navbar:hover {
    width:100%;
  }
.top{
    bottom:100px;
}
.intro{
    display:none;
}
main{
    margin:0;
  }
}
